/* init elements */
html {
  --nav-height: 50px;
  background-color: #333;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Niramit', sans-serif;
	font-size: 1.05rem;
	box-sizing: border-box;
}
header {
	height: calc(10vh);
}
section {
	padding: 20px;
}
h1 {
	color: #efefef;
	font-size: 1.4rem;
	text-align: center;
	text-decoration: underline;
}
p {
	color: #ccc;
	font-size: 1rem;
	text-align: justify;
}
a {
	color: white;
	text-decoration: none;
	padding: 0 15px;
	display: block;
}
ul {
	list-style-type: none;
}
ul li {
	display: block;
	float: left;
}
.sub-nav {
	display: none;
	position: absolute;
}
.sub-nav li {
	float: none;
}



/* theme */
.clearfix {
	overflow: hidden;
}
.wrapper {
	background-color: #333;
	padding-bottom: 20px;
}

.logo {
	position: absolute;
	right: 15px;
	z-index: 10;
	color: #555;
	font-size: 1.5rem;
	line-height: var(--nav-height);
}

.nav {
	height: 50px;
	background-color: #222;
	diplay: block;
	filter: drop-shadow(0px 0px 3px #000000a9);
}

.nav li a {
	line-height: var(--nav-height);
}

.nav li:hover {
	background-color: #111;
}
.sub-menu li:hover {
	background-color: #222;
}

.nav .sub-menu {
	position: relative;
}

.nav .sub-menu:hover .sub-nav {
	display: block;
	width: max-content;
	background-color: #333;
	top: calc(var(--nav-height));
	border: 1px solid #111;
}

section .content {
	width: 45%;
	float: left;
	background-color: #222;
	height: 50vh;
}
section .content1 {
	margin-right: 10%;
	background: #777;
}