{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="body clearfix">
        <section class="section1">
            <h1>Home Page</h1>
            <p>This is Home Page Content</p>
        </section>
        <section class="section2">
            <div class="content content1"></div>
            <div class="content content2"></div>
        </section>
    </div>
{% endblock %}