<html>	
	<head>
        {% block head %}
        <link href="{{ url_for('static',     filename='css/template.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					<div class="logo">ashesrizer</div>
					<ul class="nav">
						<li class="nav-item">
                            <li><a href="{{ url_for('home') }}">home</a></li>
						</li>
						<li class="nav-item">
                                <li><a href="{{ url_for('about') }}">about</a></li>
						</li>
						<li class="nav-item sub-menu">
							<a href="#" class="nav-link">projects</a>
							<ul class="sub-nav">
								<li class="sub-nav-item">
									<a href="#" class="sub-nav-link">Java Projects</a>
								</li>
								<li class="sub-nav-item">
									<a href="#" class="sub-nav-link">Web Projects</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">contact</a>
						</li>
					</ul>
				</nav>
			</header>
			<div id="content">{% block content %}{% endblock %}</div>
		</div>
	</body>
</html>